body {
  font-family: "Spectral", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spectral", serif;
  font-weight: 700;
}

p,
span,
a,
input,
button {
  font-family: "Spectral", serif;
  font-weight: 400;
}
